img {
	width: 500px;
}

.comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
    .time {
      color: #999;
      float: right;
    }
    &:first-child {
      border-top: 1px solid #ddd;
      margin-top: 1em;
    }
  }
}