@import "compass/css3";

$break-mobile: 480px;

#mock {
  cursor: pointer;
  margin-bottom: 1em;
  position: relative;
  .comment-board {
    background: #fff;
    @include border-radius(5px);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    width: 270px;
    z-index: 2;
    :last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: $break-mobile) {
      bottom: 0;
      left: 0;
      position: fixed;
      width: 100%;
      border-radius: 0;
    }
  }
  .comment-marker {
    left: 0;
    position: absolute;
    top: 0;
  }
  .comment-point {
    background-image:
      -webkit-linear-gradient(top, rgb(102, 173, 245), rgb(7, 153, 255));
    background-image:
      linear-gradient(to bottom, rgb(102, 173, 245), rgb(7, 153, 255));
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
    height: 10px;
    margin: -5px 0 0 -5px;
    position: absolute;
    width: 10px;
    z-index: 1;
  }
  .next-comment-point {
    z-index: 3;
  }
  .next-comment-marker {
    display: none;
  }
}

.mock-data {
  .comments-count {
    float: right;
  }
}

.comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
    .time {
      color: #999;
      float: right;
    }
    &:first-child {
      border-top: 1px solid #ddd;
      margin-top: 1em;
    }
  }
}
