%h1 Listing organizations

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)

%br

= link_to 'New Organization', new_organization_path
