!!!
%html{lang: "en"}
  %head
  %title Mockr
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  =javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    -if notice
      %p.alert.alert-notice= notice
    -if alert
      %p.alert.alert-error= alert

    = yield